@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:500,700");
body {
  font-family: "Open Sans", sans-serif; }

header, h1, p, a {
  transition: 0.5s; }
  header:hover, h1:hover, p:hover, a:hover {
    color: #F8D400;
    transition: 0.5s;
    cursor: pointer; }

a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700; }
  a:hover {
    color: #F8D400;
    transition: 0.5s;
    cursor: pointer; }

header {
  position: fixed;
  z-index: 1;
  display: flex;
  width: calc(100% - 50px);
  justify-content: space-between;
  align-items: center;
  padding: 24px; }
  header img {
    cursor: pointer;
    width: 120px; }

.b-container {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  color: #fff; }

.menu {
  background-image: url(img/menu.png);
  background-size: cover;
  width: 100%;
  height: 100%; }

.b-popup {
  width: calc(100% + 50px);
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: fixed;
  top: 0px;
  margin-left: -50px; }
  .b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: calc(100% - 50px);
    height: 100%;
    padding: 10px; }
    .b-popup .b-popup-content .popup-content-close {
      position: absolute;
      right: 70px; }
      .b-popup .b-popup-content .popup-content-close .fas {
        font-size: 50px; }
    .b-popup .b-popup-content .popup-content-head {
      text-align: center; }
      .b-popup .b-popup-content .popup-content-head img {
        width: 200px; }
    .b-popup .b-popup-content .popup-content-list ul {
      margin: 0px;
      padding: 0px; }
      .b-popup .b-popup-content .popup-content-list ul li {
        list-style-type: none;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px; }

#fp-nav {
  right: 24px; }

h1 {
  color: #F5F1ED;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  margin: 0; }

p {
  width: 50%;
  color: #fff;
  font-size: 20px;
  margin: 50px 0px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

.btn {
  background: #F4A700;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border: 3px solid transparent; }
  .btn:hover {
    background: transparent;
    border: 3px solid #F4A700;
    transition: 0.5s;
    cursor: pointer; }

.overlay {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px; }

.first-section, .second-section, .third-section, .fourth-section, .fifth-section, .sixth-section, .seventh-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.first-section {
  background-image: url(img/view1.jpg); }

.second-section {
  background-image: url(img/view2.jpg); }

.third-section {
  background-image: url(img/view3.jpg); }

.fourth-section {
  background-image: url(img/view4.jpg); }

.fifth-section {
  background-image: url(img/view5.jpg); }

.sixth-section {
  background-image: url(img/view6.jpg); }

.seventh-section {
  background-image: url(img/view7.jpg); }

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 60px; }

  p {
    font-size: 30px;
    width: 80%;
    margin: 40px 0px; }

  .btn {
    font-size: 25px; } }
@media only screen and (max-width: 823px) {
  h1 {
    font-size: 43px; }

  p {
    font-size: 20px;
    width: 80%;
    margin: 30px 0px; }

  .btn {
    font-size: 20px; }

  header {
    padding-top: 10px; }
    header img {
      width: 85px; } }
@media only screen and (max-width: 667px) {
  h1 {
    padding-top: 45px;
    font-size: 31px; }

  p {
    margin: 30px 0px;
    width: 90%; }

  .btn {
    font-size: 18px; } }
@media only screen and (max-width: 568px) {
  p {
    font-size: 16px;
    margin: 20px 0px;
    width: 90%; }

  .btn {
    font-size: 18px; } }
@media only screen and (max-width: 480px) {
  p {
    margin: 10px 0px; }

  .btn {
    font-size: 16px; }

  #fp-nav {
    right: 3px; }

  .b-popup-content {
    margin-top: 0px; }
    .b-popup-content .popup-content-head img {
      width: 100px; }
    .b-popup-content .popup-content-list ul li {
      margin-bottom: 0px; } }
@media only screen and (max-width: 414px) {
  p {
    margin: 40px 0px; }

  .popup-content-close {
    right: 40px; } }
@media only screen and (max-width: 375px) {
  h1 {
    font-size: 35px; }

  p {
    margin: 40px 0px; }

  .btn {
    font-size: 23px; } }
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 23px; }

  p {
    font-size: 16px;
    margin: 30px 0px; }

  .btn {
    font-size: 16px; } }

/*# sourceMappingURL=styles.css.map */
